source_pokeapi@git+https://github.com/airbytehq/airbyte.git@master#subdirectory=airbyte-integrations/connectors/source-pokeapi
airbyte-embed-cdk[llama-index]@git+https://github.com/michel-tricot/airbed.git@master
#-e ../../../airbed[llama-index]
